{{>auth/layout/header}}
<h1> Login Page</h1>
<div class ="col-md-12">
    <div class="row">
        <a href="/oauth2/authorization/google"
           class="btn btn-success active" role="button">google Login</a>
    </div>
</div>
{{>auth/layout/footer}}